{% extends 'base.html.twig' %}


{% block title %} {{ Issue.name }} {% endblock %}

{% block stylesheets %}

       {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/getIssue.css') }}">

{% endblock %}

{% block body %}


    <h1 class="center">{{ Issue.name }}</h1>

    <br>
    <br>


    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4 id="Leadership"></h4>
                <ul type="none">
                    <li id="LeadReas"></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4 id="Front_Line"></h4>
                <ul type="none">
                    <li id="FrontReas"></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4 id="Behavioral"></h4>
                <ul type="none">
                    <li id="BehaveReas"></li>
                </ul>
            </div>
        </div>
    </div>




{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/test.js') }}"></script>

{% endblock %}