{% extends 'base.html.twig' %}


{% block title %} {{ Issue.name }} {% endblock %}

{% block stylesheets %}

       {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/getIssue.css') }}">

{% endblock %}

{% block body %}


    <h1 class="center">{{ Issue.name }}</h1>

    <br>
    <br>


    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4 id="leadership"></h4><br>
                <ul id="leadReas" type="none"></ul>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4 id="front_Line"></h4><br>
                <ul type="none">
                    <li id="frontReas" ></li>
                    <ul id="frontSubReas" type="none"></ul>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4 id="behavioral"></h4><br>
                <ul type="none">
                    <li id="behaveReas"></li>
                    <ul id="behaveSubReas" type="none"></ul>
                </ul>
            </div>
        </div>
    </div>




{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/test.js') }}"></script>

{% endblock %}