{% extends 'base.html.twig' %}


{% block title %} {{ Issue.name }} {% endblock %}

{% block stylesheets %}

       {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/getIssue.css') }}">
    <link href="{{ asset('test.mp4') }}">

{% endblock %}

{% block body %}


    <h1 class="col-center">{{ Issue.name }}</h1>

    <br>
    <br>


    <div class="container">
        <div class="row">
            <div id="leader" class="left col-sm-4">
                <h4 id="leadership"></h4><br>
               <ul id="leadReas" type="none"></ul>
            </div>
            <div id="fronter" class="middle col-sm-4">
                <h4 id="front_Line"></h4><br>
                <ul id="frontReas" type="none"></ul>
            </div>
            <div id="behaver" class="right col-sm-4">
                <h4 id="behavioral"></h4><br>
                <ul id="behaveReas" type="none"></ul>
            </div>
        </div>
        <br>
    </div>




{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/main.js') }}"></script>
    <script>
        CTPS.issueId={{ Issue.id }}
    </script>

{% endblock %}