{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block stylesheets %}

       {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/getIssue.css') }}">

{% endblock %}

{% block body %}

    <h1 class="center">{{ Issue.name }}</h1>

    <br>
    <br>

    <div class="container">
        <div id="left" class="column-left funFont">
            <div id="lead">Leadership Management</div>
            <ul id="left-ul" type="none">
                {#{% for data in finalArray %}#}
                {#<br><li>{{ reason.name }}</li>#}
                    {#{% endfor %}#}
            </ul><br>
        {#</div>#}
        {#<div id="center" class="column-center funFont">#}
            {#<div>Front Line Sales & Service</div>#}
            {#<ul id="center-ul" type="none">#}
                {#{% for reason in reason %}#}
                    {#<br><li>{{ reason.name }}</li>#}
                {#{% endfor %}#}
            {#</ul>#}
        {#</div>#}
        {#<div id="right" class="column-right funFont">#}
            {#<div>Behavioral Embedding</div>#}
            {#<ul id="right-ul" type="none">#}
                {#{% for reason in reason %}#}
                    {#<br><li>{{ reason.name }}</li>#}
                {#{% endfor %}#}
            {#</ul>#}
        {#</div>#}
    {#</div>#}

    <button class="btn btn-success">Test</button>



{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/test.js') }}"></script>

    <script>


//        $('#left').click(function() {
//            $('#left-ul').toggle('click');
//        })
//
//        $('#center').click(function() {
//            $('#center-ul').toggle('click');
//        })
//
//        $('#right').click(function() {
//            $('#right-ul').toggle('click');
//        })

    </script>


{% endblock %}